*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    #login{
        ul{
        display: flex;
        background-color:  rgb(202, 202, 202);
        list-style: none; //bỏ dấu chấm tròn
        justify-content: flex-end;
            li{
                padding: 10px;
                a{
                    text-decoration: none; //bỏ dấu ngạch ngang
                    color: black;
                    font-weight: bold;
                }
            }
        }
        
    }
    #boder{
        border: 0.5px solid black;
    }
    #header{
        background-color: rgb(202, 202, 202);
        width: 100%;
        height: 100px;
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        
        #logo {
            img{
                width:120px;
            }

        }
        nav{
            ul {
                display: flex;
                list-style: none;
                justify-content: center;
                li {
                    padding: 10px;

                    a {
                        color:#816868;
                        text-decoration: none;
                        font-size: 15px;
                        font-weight: 700;

                        span {
                            color: #816868;
                        }

                        @media screen and(min-width:360px) and(max-width:430px) {
                            font-size: 10px;

                        }
                    }

                    &:hover {
                        a {
                            color: rgb(214, 176, 143);
                            transition-duration: 0.8s;
                        }
                    }
                }
            }
        }
        #icon-header {
            display: flex;
            align-self: center;
            input{
                margin-right: 10px;
                padding: 5px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid  #816868;
                &::placeholder{
                    color: #816868;
                }
            }


            


        }

    }
    

}

#top-inner {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    #item {
        margin-right: 20px;

        img {
            width: 300px;
            height: 300px;
        }
    }

    #text {
        margin-top: 5px;
        span {
            color: rgb(97, 93, 93);

        }
        .list{
            margin-right: 80px;


        }

        .awesome {
            margin-top: 10px;
            margin-bottom: 20px;
            

            i {
                color: rgb(190, 192, 59);
                margin-top: 10px;
                        }
        }

        p {
            margin-top: 30px;
        }


        
    }
}
#images{
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom:40px;
 
    img{
        width: 120px;
        height: 100px;
    }
}


.footer {
    width: 100%;
    height: 300px;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

